In [ ]:
# 2022/03/02

import pandas as pd

# index, columns, value 지정 >> pd.DataFrame(value, index =['index'], columns = ['column'])

In [ ]:
df_1 = pd.DataFrame("a", index = [1], columns = ["A"])

df_1

In [ ]:
df_1 = pd.DataFrame(["a","b","c"], columns = ["A"])

df_1

In [ ]:
# 추가

df_1["B"] = ["A", "B", "C"]

df_1

In [ ]:
# 수정

df_1["B"] = [1,2,3]

df_1

In [ ]:
# 수정2
# 리스트 형태를 취하지 않으면 컬럼에 해당하는 모든 값이 변화

df_1["B"] = "A"

df_1

In [ ]:
# 특정 컬럼 불러오기

df_1['A']

df_1.A

In [ ]:
# 컬럼 값 변경

df_1.columns = ["a", "b"]

df_1

In [ ]:
values = [["test1", "20000"], ["test2", "30000"], ["test3", "10000"]]
columns = ["name", "pay"]

df_2 =  pd.DataFrame(values, columns = columns)

df_2

In [ ]:
# 정렬(오름차순)

df_2.sort_values("pay")

In [ ]:
# 정렬(내림차순)

df_2.sort_values("pay", ascending=False)

In [ ]:
# index 기준도 가능!

df_2.sort_index(ascending=False)

In [43]:
# copy

df_3 = df_2.copy()

df_3

    name    pay
0  test1  20000
1  test2  30000
2  test3  10000

In [51]:
# axis = 1 >> 컬럼에 영향

df_4 = df_3.drop(["name"], axis=1)
df_4

     pay
0  20000
1  30000
2  10000

In [52]:
# axit = 0 >> 인덱스에 영향

df_5 = df_3.drop([0], axis=0)
df_5

    name    pay
1  test2  30000
2  test3  10000

In [57]:
# 현재 폴더에 생성

df_5.to_csv('test.csv', encoding='utf-8')

# 다른 폴더에 생성

df_5.to_csv('./pandas/test.csv', encoding='utf-8')

In [ ]:
# python >> pandas >> pandas.ipynb에서 계속